*{
    padding: 0%;
    margin: 0%;
}
#tooo{
    display: block;
    background-color: #164863;
    width: 100vw;
    height: 132vw;
    margin-top: 100px;
}
#tooo2{
    display: flex;
}
#monita{
    background-color:#427d9d;
    width: 94.5vw;
    display:flex;
    height: 54vw;
    margin-top:6vw;
    margin-left:4.5vw;
    border-radius: 5%;
}
#texto p{
    background-color: #9bbec8;
    margin-left: 1vw;
    margin-top: 6.5vw;
    height:35vw;
    width:34vw;
    padding-left: 4vw;
    padding-top:3.5vw;
    line-height:6vw;
    font-size: 4vw;
    border-radius: 10%;
}
#pintura img{
    width: 45vw;
    margin: 2.25vw
}
#chao{
    display: flex;
    justify-content: center;
}
#diablo{
    background-color: #ddf2fd;
    margin-left: 1vw;
    margin-top: 6.5vw;
    height:37.5vw;
    width:34vw;
    padding-left: 4vw;
    padding-top:3.5vw;
    line-height:6vw;
    font-size: 4vw;
    border-radius: 10%;
}
#diablo2{
    background-color: #9bbec8;
    margin-left: 8.75vw;
    margin-top: 19.5vw;
    height:37.5vw;
    width:34vw;
    padding-left: 4vw;
    padding-top:3.5vw;
    line-height:6vw;
    font-size: 4vw;
    border-radius: 10%;
}
#diablo h1{
font-size: 4vw;
}
#diablo p{
    margin-top: 3vw;
font-size: 3vw;
line-height: 4vw;
}
#diablo2 h1{
    font-size: 4vw;
}
#diablo2 p{
    margin-top: 3vw;
font-size: 3vw;
line-height: 4vw;
}